각각의 단어의 빈도수를 체크에서 유사한지 확인

In [1]:
import numpy as np

v1 = np.array([0, 0, 1])
v2 = np.array([0, 1, 1])

In [2]:
from numpy import dot
from numpy.linalg import norm

# 나중에 피처 받아오면됨
def get_cosine_similarity(A, B):
    return dot(A, B) / (norm(A) * norm(B))

In [3]:
get_cosine_similarity(v1, v2)

0.7071067811865475

In [4]:
import numpy as np

# 빈도수
# 앞에 있는 첫번째 단어의 비중이 큼
v1 = np.array([10, 10, 1])
v2 = np.array([0, 1, 1])

In [5]:
get_cosine_similarity(v1, v2)

0.773957299203321

In [6]:
from sklearn.metrics.pairwise import cosine_similarity

# 2차원으로 가져와야 함
v1 = np.array([[0, 0, 1]])
v2 = np.array([[0, 1, 1]])
cosine_similarity(v1, v2)

array([[0.70710678]])

In [8]:
import numpy as np
import pandas as pd

m_df = pd.read_csv('datasets/movie_dataset.csv', low_memory=False)
m_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4803 entries, 0 to 4802
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   index                 4803 non-null   int64
 1   budget                4803 non-null   int64
 2   genres                4775 non-null   object
 3   homepage              1712 non-null   object
 4   id                    4803 non-null   int64
 5   keywords              4391 non-null   object
 6   original_language     4803 non-null   object
 7   original_title        4803 non-null   object
 8   overview              4800 non-null   object
 9   popularity            4803 non-null   float64
 10  production_companies  4803 non-null   object
 11  production_countries  4803 non-null   object
 12  release_date          4802 non-null   object
 13  revenue               4803 non-null   int64
 14  runtime               4801 non-null   float64
 15  spoken_languages      4803 non-null   object
 16  status                4803 non-null   object
 17  tagline               3959 non-null   object
 18  title                 4803 non-null   object
 19  vote_average          4803 non-null   float64
 20  vote_count            4803 non-null   int64
 21  cast                  4760 non-null   object
 22  crew                  4803 non-null   object
 23  director              4773 non-null   object
dtypes: float64(3), int64(5), object(16)
memory usage: 900.7+ KB

In [9]:
m_df.keywords

0       culture clash future space war space colony so...
1       ocean drug abuse exotic island east india trad...
2              spy based on novel secret agent sequel mi6
3       dc comics crime fighter terrorist secret ident...
4       based on novel mars medallion space travel pri...
                              ...
4798    united states\u2013mexico barrier legs arms pa...
4799                                                  NaN
4800    date love at first sight narration investigati...
4801                                                  NaN
4802                 obsession camcorder crush dream girl
Name: keywords, Length: 4803, dtype: object

In [11]:
m_df.isna().sum()

index                      0
budget                     0
genres                    28
homepage                3091
id                         0
keywords                 412
original_language          0
original_title             0
overview                   3
popularity                 0
production_companies       0
production_countries       0
release_date               1
revenue                    0
runtime                    2
spoken_languages           0
status                     0
tagline                  844
title                      0
vote_average               0
vote_count                 0
cast                      43
crew                       0
director                  30
dtype: int64

In [13]:
# genres, keywords, overview, tagline, cast, director
# 필요하다고 생각되는 컬럼만 가져오기
# 여기 있는 6개 피처를 +로 연결해서 하나의 문장으로 만들어야 함
# 각각에 대한 의미가 중요한게 아니라 빈도수가 중요하기 때문에
# 결측치는 빈문자열로 만들면됨
columns = ['genres', 'keywords', 'overview', 'tagline', 'cast', 'director']

pre_m_df = m_df[columns].fillna('')
pre_m_df.isna().sum()

genres      0
keywords    0
overview    0
tagline     0
cast        0
director    0
dtype: int64

In [14]:
columns = ['genres', 'keywords', 'overview', 'tagline', 'cast', 'director']
features = pre_m_df.loc[:, columns]

In [19]:
def concatenate(features):
    return features.genres + ' ' + features.keywords + ' ' + features.overview + ' ' + features.tagline + ' ' + features.cast + ' ' + features.director

result_df = concatenate(features)

In [20]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

count_v = CountVectorizer()
# 앞에는 인덱스라 뒤에 있는 거만 들어갈거임 상관 노노
count_metrix = count_v.fit_transform(result_df)
print(count_metrix)

  (0, 561)	1
  (0, 703)	1
  (0, 9754)	1
  (0, 23977)	1
  (0, 10023)	1
  (0, 6601)	1
  (0, 5279)	1
  (0, 10796)	1
  (0, 25413)	2
  (0, 29469)	1
  (0, 5592)	1
  (0, 25232)	1
  (0, 13474)	1
  (0, 27118)	3
  (0, 239)	1
  (0, 4768)	1
  (0, 20104)	1
  (0, 17021)	1
  (0, 14023)	1
  (0, 7827)	1
  (0, 27405)	1
  (0, 18249)	1
  (0, 20039)	2
  (0, 19541)	1
  (0, 28597)	1
  :	:
  (4802, 9588)	1
  (4802, 21386)	1
  (4802, 9166)	1
  (4802, 24102)	1
  (4802, 6136)	1
  (4802, 14324)	1
  (4802, 3875)	1
  (4802, 8258)	3
  (4802, 2501)	3
  (4802, 23076)	1
  (4802, 10089)	1
  (4802, 10738)	1
  (4802, 11677)	1
  (4802, 1833)	1
  (4802, 7044)	1
  (4802, 23793)	1
  (4802, 1819)	1
  (4802, 7964)	1
  (4802, 8403)	1
  (4802, 250)	1
  (4802, 6542)	2
  (4802, 9910)	1
  (4802, 11524)	1
  (4802, 4278)	1
  (4802, 12576)	4

첫번째 문장에서 561번째 단어가 1개 나왔다
첫번째 문장에서 7031번째 단어가 1개 나왔다
...
마지막까지...
(0, 561)	1
  (0, 703)	1
  (0, 9754)	1
  (0, 23977)	1
  (0, 10023)	1
  (0, 6601)	1
  (0, 5279)	1
  (0, 10796)	1

In [22]:
# 유사도 확인
c_s = cosine_similarity(count_metrix)
print(c_s)
print(c_s.shape)

[[1.         0.35896368 0.24467726 ... 0.29233355 0.21320072 0.11875422]
 [0.35896368 1.         0.33243277 ... 0.39097542 0.2896669  0.16501336]
 [0.24467726 0.33243277 1.         ... 0.24353367 0.21252557 0.15496777]
 ...
 [0.29233355 0.39097542 0.24353367 ... 1.         0.27749786 0.1636604 ]
 [0.21320072 0.2896669  0.21252557 ... 0.27749786 1.         0.20254787]
 [0.11875422 0.16501336 0.15496777 ... 0.1636604  0.20254787 1.        ]]
(4803, 4803)

[1.         0.35896368 0.24467726 ... 0.29233355 0.21320072 0.11875422]
내꺼를 제외한 것을 내림차순으로 정리하면 추천순으로 정렬됨

In [24]:
# 영화제목으로 인덱스 가져오기
def get_index_from_title(title):
    return m_df[m_df.title == title].index[0]

# 유사도로 영화 가져오기
def get_title_from_index(index):
    # 전체 정보에서 타이틀 가져오기
    return m_df[m_df.index == index]['title'].values[0]

movie_title = "Men in Black"
movie_index = get_index_from_title(movie_title)
# key=lambda x: x[1] 정렬이 앞번째 걸로 됏기 때문에 1번ㅉ 방으로 바꿔주기
# 0번째 방 영화 제목, 1번째 방 유사도
recommended_movie = sorted(list(enumerate(c_s[movie_index])), key=lambda x: x[1], reverse=True)

In [28]:
# [1:6] 0번째는 원래 영화제목이니까 1번째부터 6번째까지~
for movie in recommended_movie[1:6]:
    print(get_title_from_index(movie[0]))

Men in Black II
Space Battleship Yamato
The Hobbit: The Battle of the Five Armies
The Work and the Glory II: American Zion
The Andromeda Strain

모든 텍스트를 이걸로 하는 건아님
목적에 맞게!

댓글의 비속어 > 분류(나이브 베이즈)
비속어를 코사인으로 하는 비슷한 욕을 찾는것

노션에 정리 사이트에서 ~~ 추천 시스템을 구축할 수 있다...